@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap');


*{
    font-family: 'Roboto', sans-serif;

}




            /* h1{
            margin: 0;
            justify-content: center;
            text-align: center;
            align-items: center;
             background-color: rgb(218, 195, 195) */
            /* } */

body{
    padding: 60px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
<<<<<<< HEAD
    text-align: center;         
    background-color: rgb(254, 203, 165); 
    font-family: 'san serif'; 
=======
    text-align: center;
    background-color: rgb(218, 195, 195);
    font-family: 'san serif';
>>>>>>> ec4619848b4dde96b0d41a6d027f3ce4ba9caf7e

}

.width-container{
    width: 100%;
    height: 100%;
    margin: auto;
}

.header{
    /* padding: 10px; */
     text-align: center;  
<<<<<<< HEAD
    background: rgb(198, 161, 131);
=======
    background: rgb(120, 105, 105);
>>>>>>> ec4619848b4dde96b0d41a6d027f3ce4ba9caf7e
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman';
    width: 100%;
     height: min-content; 
    display: flex;
<<<<<<< HEAD
    /* flex-direction: row; */
    justify-content: center;
}

    .header-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

.logo{
    margin: 20px;

}

.opennav{
    top: 19px;
    position: absolute;
    left: 35px;
}



.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
      
     
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
      
.sidenav a:hover {
    color: #f1f1f1;

}
      

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px;
    /* margin-left: 50px; */
}
      

#main {
    transition: margin-left .5s;
    padding: 20px;
}
      
     
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
=======
    flex-direction: row;
    justify-content: center;
}
>>>>>>> ec4619848b4dde96b0d41a6d027f3ce4ba9caf7e

    .header-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

   .logo{
    margin: 20px;

    }

.bg-image{
    width: 100%;
    height: 120vh;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cb702173-a276-48d6-b547-b4bd6c4d8c1b/dhg2u4i-f7e9fe93-b037-406a-8f55-4b9979080fb3.jpg/v1/fill/w_1182,h_676,q_70,strp/image_of_a_company_called_nova_luxury_events_by_sebbylickskitties_dhg2u4i-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzMyIiwicGF0aCI6IlwvZlwvY2I3MDIxNzMtYTI3Ni00OGQ2LWI1NDctYjRiZDZjNGQ4YzFiXC9kaGcydTRpLWY3ZTlmZTkzLWIwMzctNDA2YS04ZjU1LTRiOTk3OTA4MGZiMy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.vLIwX4mnG3fB2tiiABu-m1G0u5qXMzcOdSJJuoTH0A4");
    background-repeat: no-repeat;
    background-size: cover;

}

<<<<<<< HEAD
      
.columncontainer{
    display: flex;
    flex-direction: row;

}
=======
.container1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center; 
      
>>>>>>> ec4619848b4dde96b0d41a6d027f3ce4ba9caf7e

}
.columncontainer{
    display: flex;
    flex-direction: row;

<<<<<<< HEAD
.wrapper{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
}

/* body{
    background-color: #141414;
} */

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.items{
    display: flex;
    gap: 0.4rem;
    perspective: calc(var(--index) * 35);
}

.item{
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 12);
    background-color: #222;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale(1) brightness(.7
    );
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
}

.item::before, .item::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(var(--index) * -1);
}

.item::after{
    left: calc(var(--index) * -1);
}

.items .item:hover{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
}

                /* left --> right */

.items .item:hover + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.items .item:hover + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.items .item:hover + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: -3;
}

.items .item:hover + * + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
    z-index: -4;
}


                /* right --> left */
 
.items .item:has( + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
} */

.items .item:has( + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
	width: 28vw;
	filter: inherit;
	z-index: 100;
	transform: translateZ(calc(var(--index) * 10));
    margin: 0 .45vw; 
}

.items > div {
    height: 220px;
    width: 100px;
=======
>>>>>>> ec4619848b4dde96b0d41a6d027f3ce4ba9caf7e
}

.form{
    background-color: rgb(198, 161, 131);
    padding: 25px;
    box-shadow: 2 8px rgba(0,0,0, .4);
    border-radius: 33px;
    margin: 10px;
    width: 600px;
    align-self: center;
    align-items: center;
     
}

.input{
    padding: 10px;
    margin-top: 2px;
    border: 1px;
    width: 70%;
    /* height: 40px; */
    display: flex;
    flex-direction: column;
    text-align: left;
    border: none;
    justify-content: space-between;                                                                 
    
}

.input select{

    height: 40px;
    border-radius: 25px;
    margin-bottom: 10px;

}

.input input{
    height: 40px;
    border-radius: 25px;
   
}

.input label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 5px; */
     margin-bottom: 10px;  
     margin-left: 10px;
    /* position: absolute; */
     bottom: 20px;

}


.button{
    width: 100px;
    border-radius: 29;
    box-shadow: 21px;
    background-color: rgb(187, 151, 121);
    align-items: center;

}
.form button{
    background-color:rgb(161, 125, 96);

<<<<<<< HEAD
}

 .linkcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* width: 350px; */
    /* padding: 60px; */

} */
.cc2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-between; */
}
#icons{
   font-size: 30px;
}  


=======
}
>>>>>>> ec4619848b4dde96b0d41a6d027f3ce4ba9caf7e
